@font-face {
    font-family: 'PatrickHandSC';
    font-weight: 400;
    font-style: normal;
    src: url('../../assets/font/PatrickHandSC-Regular.ttf');
}

// @font-face {
//     font-family: 'Titilium Web';
//     font-weight: 600;
//     font-style: normal;
//     src: url('../../assets/fonts/TitilliumWeb-SemiBold.ttf');
// }


