@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables" as *;

.home-main{
    background-image: url("../src/assets/Images/rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    display: flex;
    background-color: rgba(22, 36, 22, 0.328);
    color: $font-color;
    height: 30rem;
    width: 40rem;
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .popup-content {
        background: rgba(215, 215, 215, 0.561);
        width: 15rem;
        height: 15rem;
        overflow-y: auto;
        padding: 0.3rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 1001; 
        border: 1px solid rgba(0, 0, 0, 0.518);
    }
    &__sideNContainer-div{
        display: flex;
        width: 100%;
        height: 100%;
    }
    &__inside-div{
        width: 100%;
        height: 100%;
        display: flex;
        .inside-div{
            width: 100%;
        }
    }
    &__create-div{
        background-color: rgb(38, 38, 38);
        width: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 0rem;
        height: 100%;
        button{
            background: none;
            border: none;
        }
    }
    .logout-button {
        padding: 10px 20px;
        background: linear-gradient(to right, #24644b, #045874);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: 3rem;
        transition: background-color 0.3s;
      }
      
      .logout-button:hover {
        background-color: #345749;
      }
      
      .logout-icon {
        margin-right: 8px;
      }
}
.logout-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logout-popup-content {
    background: white;
    color: black;
    font-size: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .logout-popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirm-button {
    background-color: #3e6c4ad6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    :hover{
        background-color: #233c2ad6;
    }
  }
  
  .cancel-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    :hover{
        background-color: rgb(75, 75, 75);
    }
  }
  