
.sidebar{
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding: 1.5rem 0.3rem;
    border-right: 1px solid ;
    height: 100vh;
    &__inside-div{
        width: 100%;
    }
}