
.sidebar{
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid ;
    height: 100%;
    &__inside-div{
        width: 100%;
    }
}