@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables" as *;

.signup{
   height: 100vh;
   background-color: $main-color;
   color: $font-color;
   padding: 1rem;
   @include tablet{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 3rem;
   }
   &__h1{
    margin: 0;
   }
   &__logo{
    @include tablet{
      width: 90%;
    }
   }
 
   &__form{
     padding-top: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     & div{
      width: 100%;
    }
     @include tablet{
        width: 20rem;   
    }
   }
   & .input-div{
     display: flex;
     flex-direction: column;
     margin: 0.5rem 0rem;
     & input{
        height: 2.5rem;
        padding: 0.5rem;
        margin: 0.3rem 0rem;
        border: 0.1rem solid #72b79b46;;
        border-radius: 0.8rem;
        background: none;
        color: $font-color;
        font-size: 1rem;
        &::placeholder{
            font-size: 1rem;
        }
     }
     & label{
        font-size: 1.1rem;
        
     }
   }
   &__button-div{
    width: 100%;
    & button{
        width: 100%;
        height: 2.5rem;
        border-radius: 0.5rem;
        background: $main-gradient;
        color: white;
        font-size: 1.4rem;
        margin: 1rem 0rem;
    }
   }
   &__link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.631);
    & span{
        color: #50efcaac;
        text-decoration: underline;
        cursor: pointer;
    }
   }
  
    
}
