@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/typography.scss" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after,
*:visited {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 200;
}

html, body {
  margin: 0;  
  padding: 0; 
  box-sizing: border-box;
  height: 100%;  
  width: 100%;   
}

body {

  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
