@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables" as *;

.chat {
    display: flex;
    align-items: flex-start;
    padding: 1rem;

    &__time{
      padding-top: 0.5rem;
      font-size: 0.7rem;
    }
  
    &.chat-start {
      justify-content: flex-start;
      .message-bubble {
        background-color: #f1f1f1;
        color: #000;
        border-radius: 15px 15px 15px 0;
        padding: 0.5rem;
        font-size: 0.85rem;
        line-height: 1.1rem;
      }
    }
  
    &.chat-end {
      justify-content: flex-end;
      .message-bubble {
        display: flex;
        align-items: center;
        background-color: #6DAB92;
        color: #000000;
        border-radius: 15px 15px 0 15px;
        padding: 0.5rem;
        font-size: 0.85rem;
        line-height: 1.1rem;
      }
    }
  }

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%; 
  justify-content: space-between;
  
  
  &__main-div {
   
    overflow-y: auto; 
  }

  .message-input {
    border-top: 1px solid #ddd;
    padding: 10px;
   
  }
}
.start-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 4.5rem;
  font-size: 0.8rem;
  img{
    width: 50%;
  }
  
}
